/* Theme colors */
:root {
  --very-dark-color: rgb(23 35 57);
  --dark-color: rgb(73 86 109);
  --neutral-color: rgb(243 237 231);
  --accent-color: rgb(250 248 246);

  /* Super-blend */
  --top-color: rgb(160 96 255);
  --middle-color: rgb(203 48 227);
  --bottom-color: rgb(255 168 78);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  padding: 1rem;
  border: 1px solid var(--very-dark-color);
  background-color: white;
  border-radius: 0.5rem;
}

/* --------Main-------- */

main {
  margin-top: 3rem;
}

.mission-statement {
  font-size: 40px;
  letter-spacing: -0.2px;
  color: var(--very-dark-color);
}

.bold {
  font-weight: bold;
}

.curved-line {
  margin-left: 9.5rem;
  width: 150px;
}

img.curve {
  width: 100%;
}

span {
  font-weight: 300;
}
.quote1 {
  font-size: 20px;
  line-height: 35px;
  margin: 2rem auto;
  font-weight: 300;
  color: var(--dark-color);
}

.mission-btn {
  color: var(--accent-color);
  background-color: var(--very-dark-color);
}

.btn:hover {
  cursor: pointer;
}
/* Hero section */
.hero {
  margin: 3rem auto;
}

.hero-img {
  width: 100%;
  height: auto;
}

.tablet-hero-img,
.desktop-hero-img {
  display: none;
}

/* Stats section */

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 16rem;
  margin: 3rem auto;
}

.bolded-stats {
  font-size: 35px;
}

.stat-texts {
  text-transform: uppercase;
  color: var(--dark-color);
  font-weight: 300;
}
.white-space {
  height: 11rem;
}
